.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  margin: 0;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

form{
  margin: 10px;
  padding: 15px;
 
}

.forminput{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.nodata{
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.start{
  display: flex;
  justify-content: center;
  align-items: center;
}

.inp{
  margin: 3px;
  padding: 5px;
}



.bars{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  color: #af4532;
}

.shashank{
  margin-top: 13vh;
  border-top: 5px solid #af4532;
}

.hrn{
  border: 1px solid #af4532;
  /* border-radius: 5px; */
}

.nodata h1{
  color: #d8d6d6;
}

.pakhare{
  color: #ddd;
}

.nav{
  position: sticky;
}

.car{
  margin-top: 10px;
  margin:5px;
}



.first{
  margin: 5px;
 padding: 10px;
}

.outer{
 
  
  justify-content: center;

}


.India{
  width: 100%;
}

.indiaHeading{
  width: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Otomanopee One', sans-serif;
font-family: 'Tourney', cursive;
}

.indiaHeading p{
  margin: 5px;
  font-size: large;
  padding: 10px;
  font-family: 'Otomanopee One', sans-serif;
}

body, .Covid{
  margin: top 10px;
  color: #04AA6D;
  background-color: #282c34;
  margin-right: 0px;
}

.heading{
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 13px;
  margin-top: 0%;
  color: #d64734;
}

.indiaHeading{
  color: #ddd;
}

.pos{
  position: fixed;
  width: 100%;
  z-index: 12;
}

.cp{
  margin: top 10px;
  color: #04AA6D;
  background-color: #282c34;
  margin-right: 0px;
}

.allstart{
 
  color: #af4532;
}

.headn{
  margin-top: 20px;
}

/* git remote add origin https://github.com/ShashankPakhare/VaccineSlotBook.git */
